{% extends 'base.html' %}

{% block title %}Search - BookShelves{% endblock %}

{% block content %}
    <div class="container">
        <h2>Search for a Book by ISBN</h2>
        <form method="POST" style="margin-bottom:2em;">
            <input type="text" name="isbn" placeholder="Enter ISBN" maxlength="13" style="padding: 0.7em; border-radius:8px; border:1px solid #ececec; width: 250px;">
            <input type="text" name="authors" placeholder="Authors" maxlength="13" style="padding: 0.7em; border-radius:8px; border:1px solid #ececec; width: 250px;">
            <button type="submit" class="btn-link">Search</button>
        </form>

        {% if books %}
            {% for book in books %}
            <div class="book-card">
                <div class="book-title">{{ book.title }}</div>
                <div class="book-meta">
                    Authors: {{ book.authors|join(', ') }}<br>
                    Language: {{ book.language|upper }}<br>
                    ISBN: {{ book.isbn }}<br>
                    Genre: {{ book.genre }}
                </div>
                {% if book.description %}
                    <div class="book-desc" style="margin-top:10px;">{{ book.description }}</div>
                {% endif %}

                <form method="post" action="{{ url_for('book.create') }}">
                    <input type="hidden" name="title" value="{{ book.title }}">
                    {% for author in book.authors %}
                        <input type="hidden" name="authors" value="{{ author }}">
                    {% endfor %}
                    <input type="hidden" name="language" value="{{ book.language }}">
                    <input type="hidden" name="isbn" value="{{ book.isbn }}">
                    <input type="hidden" name="description" value="{{ book.description }}">
                    <input type="hidden" name="genre" value="{{ book.genre }}">
                    <button type="submit" class="btn-link btn-save">Save Book</button>
                </form>
            </div>
            {% endfor %}
        {% endif %}
        <a href="{{ url_for('home') }}" class="btn-link">Home</a>
    </div>
{% endblock %}
